@import '../../styles/variables.scss';

.main {
  & .showcase {
    width: 100%;
    padding: 150px 160px;
    box-sizing: border-box;

    & > h2 {
      margin: 0;
      margin-bottom: 25px;
    }

    & .case-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    @media #{$small} {
      padding: 100px 20px;

      & > h2 {
        margin-bottom: 10px;
      }

      & .case:last-child {
        margin-bottom: 0;
      }
    }

    @media #{$ipad} {
      padding: 100px 60px;

      & .case:last-child {
        margin-bottom: 20px;
      }
    }

    @media #{$mdpi} {
      padding: 150px 80px;
    }

    @media #{$ipad-landscape} {
      padding: 150px 40px;
    }

    @media #{$ipad-pro-portrait} {
      padding: 150px 80px;

      & > h2 {
        margin-bottom: 40px;
      }

      & .case:last-child {
        margin-bottom: 0;
      }
    }
  }
}
