@import '../../styles/variables.scss';

.header {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  padding-left: 40px;

  & .logo {
    max-width: 280px;
  }

  & .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 30px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0;

    & a {
      margin-left: 10px;
      margin-right: 10px;

      & svg {
        height: 20px;
        width: 20px;
      }
    }
  }

  @media #{$small} {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    height: 50vh;

    & .logo {
      max-width: 80px;
    }

    & .icons {
      display: none;
    }
  }

  @media #{$ipad} {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    height: 35vh;

    & .logo {
      max-width: 200px;
    }

    & .icons {
      display: none;
    }
  }

  @media #{$ipad-landscape} {
    & .logo {
      max-width: 120px;
    }
  }

  @media #{$ipad-pro-portrait} {
    & .logo {
      max-width: 180px;
    }

    & .icons {
      & a {
        & svg {
          height: 40px;
          width: 40px;
        }
      }
    }
  }

  @media #{$ipad-pro-landscape} {
    @media (hover: none) {
      & .logo {
        max-width: 150px;
      }
    }
  }

  @media #{$iphone5} {
    height: 40vh!important;
  }
}
