@import '../../styles/variables.scss';

.header {
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  padding-left: 40px;

  & .logo {
    max-height: 42px;
  }

  & .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 40px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0;

    & a {
      margin-left: 10px;
      margin-right: 10px;

      & svg {
        height: 20px;
        width: 20px;
      }
    }
  }

  @media #{$iphone5} {
    & .logo {
      max-width: 70px!important;
    }
  }

  @media #{$small} {
    padding: 20px;

    & .logo {
      max-width: 80px;
    }

    & .icons {
      padding: 20px;
      
      & a {
        & svg {
          height: 20px;
          width: 20px;
        }
      }
    }
  }

  @media #{$ipad} {
    & .icons {
      & a {
        & svg {
          height: 30px;
          width: 30px;
        }
      }
    }
  }

  @media #{$ipad-pro-portrait} {
    & .icons {
      & a {
        & svg {
          height: 40px;
          width: 40px;
        }
      }
    }
  }
}
