.image-with-text {
  display: flex;
  justify-content: space-between;
  padding: 100px 80px;
  

  & > img {
    max-height: 90vh;
  }

  & .headline-wrapper {
    width: 45%;

    & > h2 {
      width: 90%;
      margin-top: 20%;
      font-size: 44px;
    }
  }
}
