@import '../../assets/variables.scss';

.image-with-text {
  display: flex;
 /*  justify-content: space-between; */
  padding: 170px 160px;
  
  & > img {
    max-height: 90vh;
    transform: scale(1);
    transition: transform 0.4s;

    &:hover {
      transform: scale(1.02);
    }
  }

  & .headline-wrapper {
    width: 45%;
    padding-left: 100px;

    & > h2 {
      width: 90%;
      margin-top: 70px;
      margin-bottom: 20px;
    }

    & p {
      margin-top: 20px;
      width: 90%;
    }
  }

  @media #{$small} {
    padding: 40px 20px;
    padding-bottom: 60px;
    justify-content: initial;
    flex-direction: column;

    & > img {
      max-height: initial;
      width: 100%;
    }

    & .headline-wrapper {
      width: 100%;
      padding-left: 0;

      & > h2 {
        margin-top: 20px;
        margin-bottom: 0;
        width: 100%;
      }

      & p {
        margin-top: 10px;
        width: 100%;
      }
    }
  }

  @media #{$ipad} {
    padding: 120px 60px;
    justify-content: initial;
    flex-direction: column;

    & > img {
      max-height: initial;
    }

    & .headline-wrapper {
      width: 100%;
      padding-left: 0;
    }
  }

  @media #{$mdpi} {
    padding: 200px 80px;
  }

  @media #{$ipad-landscape} {
    padding: 150px 40px;

    & > img {
      max-height: 80vh;
    }

    & .headline-wrapper {
      padding-left: 60px;
      
      & h2 {
        margin-top: 40px;
      }

      & p {
        width: 100%;
      }
    }
  }

  @media #{$ipad-pro-portrait} {
    padding: 200px 80px;
    justify-content: initial;
    flex-direction: column;

    & > img {
      max-height: initial;
      height: 80vh;
    }

    & .headline-wrapper {
      width: 100%;
      padding-left: 0;

      & > h2 {
        margin-top: 15%;
      }
    }
  }

  @media #{$ipad-pro-landscape} {
    @media (hover: none) {
      & .headline-wrapper {
        width: 45%;
        padding-right: 0;
      }

      & > img {
        max-height: 75vh;
      }
    }

    /* & .headline-wrapper {
      width: 50%;
      padding-right: 5%;
    } */
  }
}
