@import '../../styles/variables.scss';

.footer {
  width: 100%;
  background: #181818;
  padding: 8vw;
  box-sizing: border-box;
  color: white;

  & > h2 {
    margin-top: 0;
  }

  & .column-wrapper {
    margin-top: 40px;
    display: flex;

    & .column {
      margin-right: 8vw;

      & p {
        &:first-child {
          margin-bottom: 20px;
        }
      }
    }
  }

  @media #{$small} {
    padding: 60px 20px;
    padding-top: 40px;

    & > h2 {
      margin: 0;
    }

    & .column-wrapper {
      width: 100%;
      margin-top: 20px;
      justify-content: initial;
      flex-direction: column;

      & .column {
        margin-bottom: 25px;

        & p {
          &:first-child {
            margin-bottom: 0;
          }
        }

        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }

  @media #{$ipad} {
    padding: 80px 60px;

    & .column-wrapper {
      width: 100%;
      margin-top: 20px;
      justify-content: initial;
      flex-direction: column;

      & .column {
        margin-bottom: 25px;

        & p {
          &:first-child {
            margin-bottom: 0;
          }
        }

        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }

  @media #{$mdpi} {
    & .column-wrapper {
      width: 60%;
    }
  }

  @media #{$ipad-landscape} {
    padding: 100px 40px;

    & .column-wrapper {
      width: 65%!important;
    }
  }

  @media #{$ipad-pro-portrait} {
    padding: 150px 80px;

    & > h2 {
      margin: 0;
    }

    & .column-wrapper {
      width: 100%;
      margin-top: 80px;
      justify-content: initial;
      flex-direction: column;

      & .column {
        margin-bottom: 80px;

        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }

  @media #{$ipad-pro-landscape} {
    @media (hover: none) {
      & .column-wrapper {
        width: 65%;
      }
    }
  }
}
