@import '../../styles/variables.scss';

.case {
  max-width: 33%;
  width: 30%;

  .media-wrapper {
    position: relative;

    & > img {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    & > video {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & > .description {
    margin-top: 30px;
    margin-bottom: 0;

    & p:first-child {
      font-family: 'font-bold';
    }
    
    & p:nth-of-type(2) {
      font-family: 'font-bold';
      margin-bottom: 5px;
    }
  }

  @media #{$small} {
    width: 100%;
    max-width: 100%;
    margin-bottom: 60px;
  }

  @media #{$ipad} {
    width: 100%;
    max-width: 100%;
    margin-bottom: 100px;
  }

  @media #{$ipad-pro-portrait} {
    width: 100%;
    max-width: 100%;
    margin-bottom: 200px;
  }
}
