/* media queries */
/* $iphone5: "(max-width: 320px)";
$x-small: "(max-width: 767px)";
$small: "(min-width: 768px) and (max-width: 1023px)";
$medium: "(min-width: 1024px) and (max-width: 1279px)";
$medium-large: "(min-width: 1280px) and (max-width: 1440px)";
$large: "(min-width: 1441px) and (max-width: 1919px)";
$max: "(min-width: 1920px)";
$iphone-x: "only screen and (min-device-width: 375px) and (min-device-height: 668px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3)";
$iphone-x-max: "only screen and (min-device-width : 414px) and (min-device-height: 769px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 3)";
$iphone-xr: "only screen and (min-device-width : 414px) and (min-device-height: 769px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 2)";
$ipad-landscape: "only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)"; */

$iphone-x: "only screen and (min-device-width: 375px) and (min-device-height: 668px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3)";
$small: "(max-width: 767px)";
$ipad: "(min-width: 768px) and (max-width: 1023px)";
$ipad-landscape: "only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)";
$mdpi: "(min-width: 1280px) and (max-width: 1440px)";
$medium-large: "(min-width: 1441px) and (max-width: 1919px)";
$ipad-pro-portrait: "(min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5)";
$ipad-pro-landscape: "(min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5)";
$large: "(min-width: 1921px)";


$grey: #666666;
$black: #1a1a1a;
